{% extends 'layouts/main.twig' %}

{% block title %}Blog{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
	<div class="col-lg-8">

		{% include 'layouts/components/partials/form-error.twig' %}

		<!-- ======= Blog Section ======= -->
		<section id="blog" class="blog">
			<div class="entries" data-aos="fade-up">
			{% for post in list %}
				<article class="entry">

					<div class="entry-img">
						<img src="{{ image_path ~ post.featured_image }}" alt="" class="img-fluid" />
					</div>

					<h2 class="entry-title">{{ post.title }}</h2>

					<div class="entry-meta">
						<ul>
							<li class="d-flex align-items-center"><i class="bi bi-person"></i> <a>{{ post.author.name }}</a></li>
							<li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a><time datetime="{{ post.created_at.format('Y-m-d') }}">{{ post.created_at.format('M jS, Y H:i') }}</time></a></li>
							{% if post.updated_at.notEqualTo(post.created_at) %}
							<li class="d-flex align-items-center"><i class="bi bi-pencil"></i> <a><time datetime="{{ post.updated_at.format('Y-m-d') }}">{{ post.updated_at.format('M jS, Y H:i') }}</time></a></li>
							{% endif %}
						</ul>
					</div>

					<div class="entry-content">
						<p>{{ post.content }}</p>

						{% if user.hasRole('publisher') %}
						<div class="text-right">
							<a href="{{ path_for('edit', { 'id': post.id }) }}" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
							<form action="{{ path_for('post-delete') }}" method="post" role="form" class="d-inline-block">
								<input type="hidden" name="id" value="{{ post.id }}">
								<button class="btn btn-dark" type="submit"><i class="bi bi-trash"></i></button>
							</form>
						</div>
						{% endif %}
					</div>

				</article><!-- End blog entry -->
			{% endfor %}
			</div>
		</section>

	</div>
</div>
{% endblock %}
