<form action="{{ path_for(post ? 'post-update' : 'post-create') }}" method="post" role="form" enctype="multipart/form-data">
	{% if post %}
	<input type="hidden" name="id" value="{{ post.id }}">
	{% endif %}
	<div class="row">
		<div class="col-md-6 form-group mt-3 mt-md-0">
			<input type="text" class="form-control" name="title" placeholder="Post Title" value="{{ post.title ?? '' }}" required>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 form-group">
			<textarea class="form-control" name="content" rows="5" placeholder="Something amazing..." required>{{ post.content ?? '' }}</textarea>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<img id="image_preview" src="{{ image_path ~ post.featured_image }}" alt="" class="img-fluid mb-3 {{ post ? '' : 'd-none' }}" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 form-group">
			<div class="custom-file">
				<input type="file" class="custom-file-input" id="featured_image" name="featured_image" {{ post ? '' : 'required'}} data-preview-image-upload="image_preview">
				<label class="custom-file-label" for="featured_image">{{ post ? 'Change the' : 'Select a' }} featured image</label>
			</div>
		</div>
	</div>
	<div class="text-center mb-2"><button class="btn btn-primary form-control" type="submit">{{ post ? 'Submit Changes' : 'Publish' }}</button></div>

	{% include 'layouts/components/partials/form-error.twig' %}
</form>
